<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }} | CMS (Re)scheduling System</title>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">

		<!-- JS -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>	
	</head>

	<body>
		<header>
			<div id="header-logo">
				<div class="fleft">&nbsp;<!--<img src="{{ STATIC_URL }}images/header.gif">--></div>
			</div>
			{% load header %}
			<div id="header-nav">
				<div class="right fullwidth">
					<ul>
						{% if not user.is_authenticated %}
							<li><a href="{% url "register" %}">Register</a></li>
							<li><a href="{% url "login" %}">Log In</a></li>
						{% else %}
							<li><a class="{% if active == "profile" %}active{% endif %}" href="{% url "edit_profile" %}">My Profile</a></li>
							<li><a class="{% if active == "schedule" %}active{% endif %}" href="{% url "index" %}">My Schedule</a></li>
							{% if user|is_admin %}
								<li><a class="{% if active == "admin" %}active{% endif %}" href="{% url "admin" %}">Admin</a></li>
							{% endif %}
							<li><a href="{% url "logout" %}">Log Out</a></li>
							<li><a class="{% if notifications|count > 0 %}active{% endif %}" id="notifications" href="#">{{ notifications|count }}</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="hidden" id="notifications-box">
					<ul>
						{% if notifications|count == 0 and read_notifications|count == 0 %}
							<a class="notification center" href="#">No new notifications</a>
						{% else %}
							{% for notification in notifications %}
								<a class="notification active" href="#">{{ notification.data }}</a></a>
							{% endfor %}
							{% for notification in read_notifications %}
								<a class="notification" href="#">{{ notification.data }}</a>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
			<div id="header-title">
				<h1 class="center fullwidth"><a href="/">CMS (Re)Scheduling System</a></h1>
			</div>
			<div class="clear"></div>
			<hr></hr>
		</header>

		<input type="hidden" name="user_id" value="{{ user.id }}">

		{% if message_type != None and message_type != "" %}
			<div class="message" id="{{ message_type }}">{{ message }}</div>
		{% endif %}