    {% include "layouts/header.html" with title="Edit Profile" active="admin" %}
    {% include "layouts/admin-sidebar.html" with active="users" %}
    {% block content %}
    <div class="content fleft">
        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-entry">
                    {{ field.errors }}
                    <div class="form-label">{{ field.label_tag }}: </div>
                    <div class="form-input">{{ field }}</div>
                </div>
            {% endfor %}

            <div class="form-entry left" id="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    {% endblock %}
    <div class="clear"></div>
    {% include "layouts/footer.html" %}