<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>CSV Import</title>        
        </head>

        <body>
                <h1>
                        CSV File Import
                </h1>

                <p>
                        Select a file and click on "Upload".
                </p>
                <form action="{% url "csvimport" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <p>
                                {{ form.file.errors }}
                                {{ form.file }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>
                </form>
                
        </body>

</html> 