<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Instructor Registration</title>        
        </head>

        <body>
                <h1>
                        Instructor Registration
                </h1>

                <p>
                        Fill all fields and click on "Register".
                </p>
                
                <form action="/registration/instructor/" method="post">
                        {% csrf_token %}
                        
                        {{ form.as_p }}

                        <p><input type="submit" value="Register" /></p>
                </form>
                
        </body>

</html> 