        {% include "layouts/header.html" with title="Register" %}
        <form class="no-sidebar" action="/register/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-entry">
                    {{ field.errors }}
                    <div class="form-label">{{ field.label_tag }}: </div>
                    <div class="form-input">{{ field }}</div>
                </div>
            {% endfor %}
            <div class="form-entry left" id="submit">
                <input type="submit" value="Register">
            </div>
        </form>
        {% include "layouts/footer.html" %}