	{% include "layouts/header.html" with title="Switch Courses" active="schedule" %}
	{% include "layouts/sidebar.html" %}
	{% block content %}
	<div class="content fleft">
		<h2>Select the two courses to switch</h2>
		<form action="." method="post" class="form-left" id="switch-course-form">
			{% csrf_token %}
			<div class="form-entry">
				<div class="form-label">Course 1: </div>
				<select name="course1" class="form-input">
					<option value="">Select Course</option>
					{% for course in courses %}
						<option value="{{ course.code }}">{{ course }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-entry">
				<div class="form-label">Course 2: </div>
				<select name="course2" class="form-input">
					<option value="">Select Course</option>
					{% for course in courses %}
						<option value="{{ course.code }}">{{ course }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-entry" id="submit">
				<input type="submit" value="Switch Courses">
			</div>
		</form>
	</div>
	{% endblock %}
	<div class="clear"></div>
	{% include "layouts/footer.html" %}