<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>User Registration</title>        
        </head>

        <body>
                <h1>
                        User Registration
                </h1>

                <p>
                        Fill all fields and click on "Register user".
                </p>
                <form action="{% url "userregistration" %}" method="post">
                        {% csrf_token %}
                        
                        <p>

                        <label>
                                <div>Name</div> 
                                {{ form.name }} 
                                {{ form.name.errors }}
                        </label>

                        <label>
                                <div>Address</div> 
                                {{ form.address }} 
                                {{ form.address.errors }}
                        </label>

                        <label>
                                <div>email</div>
                                {{ form.email }} 
                                {{ form.email.errors }}
                        </label>  

                        <label>
                                <div>Department</div> 
                                {{ form.department }} 
                                {{ form.department.errors }}
                        </label>

                        </p>
                        <p><input type="submit" value="Register user" /></p>
                </form>
                
        </body>

</html> 