    {% include "layouts/header.html" with title="Users List" active="admin" %}
    {% include "layouts/admin-sidebar.html" with active="users" %}
    {% block content %}
    <div id="content fleft">
        <h2>Viewing list as: {{ username }}</h2>
        <h3 class="underline">Users</h3>
        <ul id="users-list">
            {% for user in users %}
                <li>{{ user.username }}: <a href="/admin/users/{{ user.username }}/profile/">Profile</a> <a href="/admin/users/{{ user.username }}/edit/">Edit</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
    <div class="clear"></div>
    {% include "layouts/footer.html" %}