/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.woff), local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.woff), local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

html, body {
	font-family: Lato, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0.5em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
a {
	color: #000;
	text-decoration: none;
}

.fleft {
	float: left;
}
.fright {
	float: right;
}
.clear {
	clear: both;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}

.fullwidth {
	width: 100%;
}
.hidden {
	display: none;
}

header {
	margin-bottom: 1em;
}
footer {
	margin-top: 1em;
}

#header-logo {
	width: 24%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: middle;
}
	#header-logo > .fleft > img {
		max-width: 100%;
	}
#header-title {
	width: 48%;
	display: inline-block;
	vertical-align: middle;
}
#header-nav {
	width: 24%;
	margin-left: 1%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
	#header-nav > .right.fleft > ul > li {
		display: inline-block;
		margin: 0 1%;
	}
		#header-nav > .right.fleft > ul > li > a {
			padding: 5px;
			border-radius: 5px;
		}
		#header-nav > .right.fleft > ul > li > a:hover {
			background: #eee;
		}
		#header-nav > .right.fleft > ul > li > a.active {
			background: rgba(30, 144, 255, 0.3);
		}
		#header-nav > .right.fleft > ul > li > a#notifications {
			padding: 3px 5px;
			border-radius: 20px;
			color: rgba(0, 0, 0, 0.5);
			border: 1px rgba(0, 0, 0, 0.3) solid;
			background: #eee;
			font-weight: bold;
		}
		#header-nav > .right.fleft > ul > li > a#notifications.active {
			color: rgba(255, 30, 144, 0.8);
			background: rgba(255, 30, 144, 0.3);
			border: 1px rgba(255, 0, 144, 0.5) solid;
		}
		#header-nav > .right.fleft > ul > li > a#notifications.clicked {
			color: #000;
			border: 1px rgba(100, 150, 200, 0.5) solid;
			background: rgba(100, 150, 200, 0.3);
		}
	#header-nav > #notifications-box {
		position: absolute;
		width: 100%;
		word-wrap: break-word;
		top: 32px;
		background: #eee;
		border: 1px #000 solid;
	}
	#header-nav > #notifications-box:after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		width: 0;
		height: 0;
		border-color: transparent transparent #eee transparent;
		border-style: solid;
		border-width: 0 12px 10px 12px;
	}
	#header-nav > #notifications-box:before {
		content: '';
		display: block;
		position: absolute;
		top: -11px;
		width: 0;
		height: 0;
		border-color: transparent transparent #000 transparent;
		border-style: solid;
		border-width: 0 12px 10px 12px;
	}
		#header-nav > #notifications-box > ul > li.notification {
			padding: 10px;
			list-style: none;
			border-bottom: 1px #000 solid;
		}
		#header-nav > #notifications-box > ul > li.notification:hover {
			cursor: pointer;
		}
		#header-nav > #notifications-box > ul > li.notification.active {
			background: rgba(30, 144, 255, 0.3);
		}
		#header-nav > #notifications-box > ul > li.notification:last-child {
			border-bottom: none;
		}

.sidebar {
	width: 23%;
	margin-right: 1%;
	border: 1px #000 solid;
}
	.sidebar > a {
		display: block;
		padding: 5px;
	}
	.sidebar > a:not(:last-child) {
		border-bottom: 1px #000 solid;
	}
	.sidebar > a:nth-child(2n+1) {
		background: #fcfcfc;
	}
	.sidebar > a:nth-child(2n) {
		background: #ececec;
	}
	.sidebar > a:hover {
		cursor: pointer;
		background: rgba(30, 144, 255, 0.3);
	}
	.sidebar > a.active {
		background: rgba(30, 144, 255, 0.3);
	}

.content {
	width: 73%;
	margin-left: 1%;
}

/* Schedule */
.schedule-cell {
	float: left;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 1%;
	width: 16.6%;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	border: 1px #000 solid;
	border-top: none;
	border-right: none;
}
.schedule-cell:nth-child(6n) {
	border-right: 1px #000 solid;
}
.schedule-day {
	border-top: 1px #000 solid;
	font-weight: bold;
}
.schedule-time {
	border: none;
}

/* Forms */
.form-left > .form-entry {
	padding-bottom: 1em;
}
	.form-left > .form-entry > .form-label {
		width: 6em;
		margin-right: 5px;
		display: inline-block;
	}
	.form-left > .form-entry > .form-input {
		margin-left: 5px;
		display: inline-block;
	}
	.form-left > .form-entry > input[type='submit'] {
		margin: 0;
		padding: 5px;
		font-size: 1em;
		border: 1px #333 solid;
		border-radius: 5px;
		background: #eee;
		cursor: pointer;
	}
	.form-left > .form-entry > input[type='submit']:hover {
		background: rgba(30, 144, 255, 0.3);
	}

#footer {
	font-size: 0.8em;
}